
.errorH1{
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
span{
  display: flex;
  align-items: center;
  justify-content: center;
}